<div id="user-sidebar" class="column">
    <div class="box">
        <figure class="avatar">
            <img src="{{authenticatedUser.photoURL}}" class="image">
        </figure>
        <h1 class="title has-text-primary has-text-centered">
            {{authenticatedUser.displayName}}
        </h1>
        <h2 class="subtitle has-text-primary has-text-centered">
            {{authenticatedUser.email}}
        </h2>
    </div>
    <aside class="menu">
        <p class="menu-label">
            General
        </p>
        <ul class="menu-list">
            <li {{action 'toggleSidebar'}}>
                {{#link-to 'user.profile' class="is-active"}}
                    View Profile
                {{/link-to}}
            </li>
            <li>
                {{#link-to 'user.edit'}}
                    Edit Profile
                {{/link-to}}
            </li>
            <li>
                {{#link-to 'user.change-password' user}}
                    Change Password
                {{/link-to}}
            </li>
        </ul>
        <p class="menu-label">
            Recruits
        </p>
        <ul class="menu-list">
            <li>
                {{#link-to 'recruits' user.recruits}}
                    Your Recruits
                {{/link-to}}
            </li>
            <li>
                {{#link-to 'recruits.new' user}}
                    Add New Recruit
                {{/link-to}}
            </li>
        </ul>
        <p class="menu-label">
            Products
        </p>
        <ul class="menu-list">
            <li>
                {{#link-to 'products' user}}
                    Browse Products
                {{/link-to}}
            </li>
            <li>
                {{#link-to 'user.products' user.products}}
                    Your Products
                {{/link-to}}
            </li>
            <li>
                {{#link-to 'products.new' user}}
                    Add New Product
                {{/link-to}}
            </li>
        </ul>
        <p class="menu-label">
            Account
        </p>
        <ul class="menu-list">
            <li {{action "signOut"}}>
                <a href="/login">
                    Logout
                </a>
            </li>
        </ul>
    </aside>
</div>