<p class="panel-tabs profile">
    <a href="#" {{action "toggleTab" "approved-users"}} class="users nav-pill approved-users">Approved Users</a>
    <a href="#" {{action "toggleTab" "pending-user-approvals"}} class="users nav-pill pending-user-approvals">Pending Approval</a>
    <a href="#" {{action "toggleTab" "pending-bank-approvals"}} class="users nav-pill pending-bank-approvals">Bank Approvals</a>
    <a href="#" {{action "toggleTab" "pending-mobile-approvals"}} class="users nav-pill pending-mobile-approvals">Mobile Approvals</a>
</p>

<br>

{{#each model as |user|}}
    {{#if user.userIsRecruited}}
        {{#unless user.userBankApprovalPending}}
            <div id="approved-users" class="info-tabs is-offset-3">
                {{user-list user=user }}
            </div>
        {{/unless}}
    {{/if}}

    {{#unless user.userIsRecruited}}
        <div id="pending-user-approvals" class="info-tabs is-offset-3">
            {{user-list user=user }}
        </div>
    {{/unless}} 

    {{#if user.userBankApprovalPending}}
        <div id="pending-bank-approvals" class="info-tabs is-offset-3">
            {{user-list user=user }}
        </div>
    {{/if}} 
    
    {{#if user.userMobileApprovalPending}}
        <div id="pending-mobile-approvals" class="info-tabs is-offset-3">
            {{user-list user=user }}
        </div>
    {{/if}}
{{/each}}