<p class="panel-tabs profile">
    <a href="#" {{action "toggleTab" "approved-users"}} class="nav-pill approved-users is-active">Approved Users</a>
    <a href="#" {{action "toggleTab" "pending-user-approvals"}} class="nav-pill pending-user-approvals">Pending Approval</a>
    <a href="#" {{action "toggleTab" "pending-bank-approvals"}} class="nav-pill pending-bank-approvals">Bank Approvals</a>
    <a href="#" {{action "toggleTab" "pending-mobile-approvals"}} class="nav-pill pending-mobile-approvals">Mobile Approvals</a>
</p>

<br>

{{#each model as |user|}} 
    {{#if user.userIsRecruited}}
    <div id="approved-users" class="info-tabs is-offset-3">
        <section class="accordions">
            <article id={{user.id}} class="accordion is-primary">
                <div class="accordion-header toggle" {{action "toggleAccordion"}}>
                    <p>{{user.userFullName}}
                        <small>(Click to Expand)</small>
                    </p>
                </div>
                <div class="accordion-body">
                    <div class="accordion-content">
                        {{user.userFullName}} - {{user.userEmail}} - {{user.userIsRecruited}}
                    </div>
                </div>
            </article>
        </section>
    </div>
    {{/if}} 

    {{#unless user.userIsRecruited}}
    <div id="pending-user-approvals" class="info-tabs hide-div">
        <section class="accordions">
            <article id={{user.id}} class="accordion is-primary">
                <div class="accordion-header toggle" {{action "toggleAccordion" user.id}}>
                    <p>{{user.userFullName}}</p>
                </div>
                <div class="accordion-body">
                    <div class="accordion-content">
                        {{user.userFullName}} - {{user.userEmail}} - {{user.userIsRecruited}}
                    </div>
                </div>
            </article>
        </section>
    </div>
    {{/unless}} 

    {{#if user.userIsRecruited}}
    <div id="pending-bank-approvals" class="info-tabs hide-div">
        {{!-- {{#each userList as |user|}} --}}
        <section class="accordions">
            <article id={{user.id}} class="accordion is-primary">
                <div class="accordion-header toggle" {{action "toggleAccordion" user.id}}>
                    <p>{{user.userFullName}}</p>
                </div>
                <div class="accordion-body">
                    <div class="accordion-content">
                        {{user.userFullName}} - {{user.userEmail}} - {{user.userIsRecruited}}
                    </div>
                </div>
            </article>
        </section>
        {{!-- {{/each}} --}}
    </div>
    {{/if}} 

    {{#if user.userIsRecruited}}
    <div id="pending-mobile-approvals" class="info-tabs hide-div">
        <section class="accordions">
            <article id={{user.id}} class="accordion is-primary">
                <div class="accordion-header toggle" {{action "toggleAccordion" user.id}}>
                    <p>{{user.userFullName}}</p>
                </div>
                <div class="accordion-body">
                    <div class="accordion-content">
                        {{user.userFullName}} - {{user.userEmail}} - {{user.userIsRecruited}}
                    </div>
                </div>
            </article>
        </section>
    </div>
    {{/if}} 
{{/each}}