<div class="hero is-primary" style="padding:5px; border-radius: 2px;">
    <h1 class="subtitle">Primary Details</h1>
</div>

<br>

<div class="columns form">
    <div class="profile column is-5 is-offset-1">
        {{!-- <div class="field">
            <label class="label">First Name</label>
            <div class="control">
                {{input value=user.userFirstName class="input" type="text" placeholder="First Name"}}
            </div>
        </div>

        <div class="field">
            <label class="label">Last Name</label>
            <div class="control">
                {{input value=user.userLastName class="input" type="text" placeholder="Last Name"}}
            </div>
        </div> --}}

        <div class="field">
            <label class="label">Email</label>
            <div class="control">
                {{input class="input" type="email" placeholder="Email" value=user.userEmail required=true}}
            </div>
        </div>

        {{!-- <div class="field">
            <label class="label">Password</label>
            <div class="control">
                {{input class="input" type="password" placeholder="Email" value=user.userPassword required=true}}
            </div>
        </div> --}}

    </div>

    <div class="column is-5">
        {{!-- <div class="field" hidden>
            <label class="label">UID</label>
            <div class="control">
                {{input value=user.uid class="input" type="text" disabled=true}}
            </div>
        </div>

        <div class="field">
            <label class="label">Date of Birth</label>
            <div class="control">
                {{input value=user.userDob class="input" type="date"}}
            </div>
        </div> --}}
        
        <div class="field">
            <label class="label">Mobile</label>
            <div class="control">
                {{input value=user.userMobile class="input" type="number" placeholder="Mobile Number"}}
            </div>
        </div>

        <div class="field">
            <label class="label">Alternate Contact</label>
            <div class="control">
                {{input value=user.userAlternateMobile class="input" type="number" placeholder="Alternate Mobile Number"}}
            </div>
        </div>
    </div>

</div>

<div class="hero is-primary" style="padding:5px; border-radius: 2px;">
    <h1 class="subtitle">Secondary Details</h1>
</div>

<br>

<div class="columns form">
    <div class="profile column is-5 is-offset-1">
        {{!-- <div class="field">
            <label class="label">PAN Number</label>
            <div class="control">
                {{input value=user.userPan class="input" type="text" placeholder="PAN Number"}}
            </div>
        </div>
        <div class="field">
            <label class="label">Aadhaar Number</label>
            <div class="control">
                {{input value=user.userAdhaar class="input" type="text" placeholder="Aadhaar Number"}}
            </div>
        </div>

        <div class="field">
            <label class="label">Voter ID</label>
            <div class="control">
                {{input class="input" type="text" placeholder="Voter ID" value=user.userVoterId}}
            </div>
        </div>

        <div class="field">
            <label class="label">License ID</label>
            <div class="control">
                {{input class="input" type="text" placeholder="License Number" value=user.userLicenseID}}
            </div>
        </div> --}}

        <br>
        <div class="field">
            <div class="control">
            <label class="checkbox">
                Married? <br>
                {{input type="checkbox" checked=user.userMaritalStatus}}
                {{#if user.userMaritalStatus}} Yes {{/if}}
            </label>
            </div>
        </div>
    </div>
    
    <div class="column is-5">
        {{!-- <div class="field">
            <label class="label">Father</label>
            <div class="control">
                {{input value=user.userFatherName class="input" type="text" placeholder="Father's Name"}}
            </div>
        </div>

        <div class="field">
            <label class="label">Mother</label>
            <div class="control">
                {{input value=user.userMotherName class="input" type="text" placeholder="Mother's Name"}}
            </div>
        </div> --}}

        {{#if user.userMaritalStatus}}
            <div class="field">
                <label class="label is-bold">Spouse</label>
                <div class="control">
                    {{input value=user.userSpouseName class="input" type="text" placeholder="Spouse's Name"}}
                </div>
            </div>
        {{/if}}
    </div>

</div>

<div class="hero is-primary" style="padding:5px; border-radius: 2px;">
    <h1 class="subtitle">Bank Details</h1>
</div>

<br>

<div class="columns form">
    <div class="profile column is-5 is-offset-1">
        <div class="field">
            <label class="label">Bank Name</label>
            <div class="control">
                {{input value=user.userBankName class="input" type="text" placeholder="Bank Name"}}
            </div>
        </div>
        <div class="field">
            <label class="label">Acc. Number</label>
            <div class="control">
                {{input value=user.userBankAccountNo class="input" type="text" placeholder="Account Number"}}
            </div>
        </div>

        <div class="field">
            <label class="label">IFSC Code</label>
            <div class="control">
                {{input class="input" type="text" placeholder="IFSC Code" value=user.userBankIFSC}}
            </div>
        </div>
        
        <div class="field">
            <label class="label">Branch Code</label>
            <div class="control">
                {{input value=user.userBankBranchCode class="input" type="text" placeholder="Branch Code"}}
            </div>
        </div>


    </div>
    
    <div class="column is-5">
        <div class="field">
            <label class="label">Account Type</label>
            <div class="control">
                <div class="select is-primary">
                <select onchange={{action (mut user.userBankAccountType) value="target.value"}}>
                    <option value="Current" selected={{eq user.userBankAccountType "Current"}}>Current</option>
                    <option value="Savings" selected={{eq user.userBankAccountType "Savings"}}>Savings</option>
                </select>
                </div>
            </div>
        </div>
        
        <div class="field">
            <label class="label">Branch Name</label>
            <div class="control">
                {{input value=user.userBankBranch class="input" type="text" placeholder="Branch Code"}}
            </div>
        </div>

        <div class="field">
            <label class="label">Branch City</label>
            <div class="control">
                {{input value=user.userBankCity class="input" type="text" placeholder="Branch City"}}
            </div>
        </div>
    </div>
</div>

<div class="hero is-primary" style="padding:5px; border-radius: 2px;">
    <h1 class="subtitle">Location</h1>
</div>

<br>

<div class="columns form">
    <div class="profile column is-5 is-offset-1">
        <div class="field">
            <label class="label">Country</label>
            <div class="control">
                {{input value=user.userCountry class="input" type="text" placeholder="Country"}}
            </div>
        </div>
        <div class="field">
            <label class="label">State</label>
            <div class="control">
                {{input value=user.userState class="input" type="text" placeholder="State"}}
            </div>
        </div>
    </div>

    <div class="profile column is-5">
        <div class="field">
            <label class="label">City</label>
            <div class="control">
                {{input class="input" type="text" placeholder="City" value=user.userCity}}
            </div>
        </div>

        <div class="field">
            <label class="label">Street</label>
            <div class="control">
                {{input class="input" type="text" placeholder="Street Address" value=user.userStreet}}
            </div>
        </div>
    </div>
</div>

<div class="column is-3 is-offset-5">
    <div class="field is-grouped">
        <div class="control">
            <button {{action "updateUser"}} type="submit" class="button is-link">Update</button>
        </div>
        <div class="control">
            <button {{action "cancelUser"}} type="cancel" class="button is-link is-danger">Cancel</button>
        </div>
    </div>
    <br>
</div>