<div class="profile">
    <p class="panel-tabs profile">
        <a href="#" {{action "toggleTab" "general-info"}} class="nav-pill is-active">General</a>
        <a href="#" {{action "toggleTab" "user-id-info"}} class="nav-pill">Identity</a>
        <a href="#" {{action "toggleTab" "relationship-info"}} class="nav-pill">Relationship</a>
        <a href="#" {{action "toggleTab" "contact-info"}} class="nav-pill">Contact</a>
        <a href="#" {{action "toggleTab" "address-info"}} class="nav-pill">Address</a>
    </p>
    <div id="general-info" class="info-tabs is-offset-3">
        <div class="columns">
            <div class="column has-text-weight-bold is-half">First Name</div>
            <div class="column is-half">Nikhil</div>
        </div>
        <div class="columns">
            <div class="column has-text-weight-bold is-half">Last Name</div>
            <div class="column is-half">Patil</div>
        </div>
        <div class="columns">
            <div class="column has-text-weight-bold is-half">Email</div>
            <div class="column is-half">niki.thrill@gmail.com</div>
        </div>
        <div class="columns">
            <div class="column has-text-weight-bold is-half">Date of Birth</div>
            <div class="column is-half">15th April 1992</div>
        </div>
    </div>
    <div id="user-id-info" class="info-tabs hide-div">
        <div class="columns">
            <div class="column has-text-weight-bold is-half">TOKEN</div>
            <div class="column is-half">-LDJHJD283H3HF8FYFHB</div>
        </div>
        <div class="columns">
            <div class="column has-text-weight-bold is-half">PAN CARD ID</div>
            <div class="column is-half">DPSYY8729D</div>
        </div>
        <div class="columns">
            <div class="column has-text-weight-bold is-half">AADHAAR ID</div>
            <div class="column is-half">100301314387</div>
        </div>
        <div class="columns">
            <div class="column has-text-weight-bold is-half">VOTER ID</div>
            <div class="column is-half">AJAJD7862H</div>
        </div>
    </div>
    <div id="relationship-info" class="info-tabs hide-div">
        <div class="columns">
            <div class="column has-text-weight-bold is-half">Father's Name</div>
            <div class="column is-half">Jagadeesh Patil</div>
        </div>
        <div class="columns">
            <div class="column has-text-weight-bold is-half">Mother's Name</div>
            <div class="column is-half">Anupama</div>
        </div>
        <div class="columns">
            <div class="column has-text-weight-bold is-half">Married?</div>
            <div class="column is-half">Yes</div>
        </div>
        <div class="columns">
            <div class="column has-text-weight-bold is-half">Spouse Name</div>
            <div class="column is-half">Future Wifey</div>
        </div>
    </div>
    <div id="contact-info" class="info-tabs hide-div">
        <div class="columns">
            <div class="column has-text-weight-bold is-half">Mobile</div>
            <div class="column is-half">8749025456</div>
        </div>
        <div class="columns">
            <div class="column has-text-weight-bold is-half">Alternate Number</div>
            <div class="column is-half">9641148263</div>
        </div>
    </div>
    <div id="address-info" class="info-tabs hide-div">
        <div class="columns">
            <div class="column has-text-weight-bold is-half">Country</div>
            <div class="column is-half">India</div>
        </div>
        <div class="columns">
            <div class="column has-text-weight-bold is-half">State</div>
            <div class="column is-half">KA</div>
        </div>
        <div class="columns">
            <div class="column has-text-weight-bold is-half">City</div>
            <div class="column is-half">Belagavi</div>
        </div>
        <div class="columns">
            <div class="column has-text-weight-bold is-half">Street</div>
            <div class="column is-half">Ramteerth Nagar</div>
        </div>
    </div>
</div>