
<div class="container login-div">
    <div class="card">
        <div class="card-content">
            <p class="title">
                Welcome to the future of business!
            </p>
            <p class="subtitle">
                Login to continue
            </p>
            <div class="field">
                <p class="control has-icons-left has-icons-right">
                    <input class="input" type="email" placeholder="Email">
                    <span class="icon is-small is-left">
                    {{fa-icon "envelope"}}
                    </span>
                </p>
                </div>
                <div class="field">
                <p class="control has-icons-left">
                    <input class="input" type="password" placeholder="Password">
                    <span class="icon is-small is-left">
                    {{fa-icon "lock"}}
                    </span>
                </p>
                </div>
                <div class="field is-grouped">
                    <p class="control">
                        <a class="button is-primary">
                        Submit
                        </a>
                    </p>
                    <p class="control">
                        <a href="/" class="button is-light">
                        Cancel
                        </a>
                    </p>
                </div>
        </div>
        <footer class="card-footer">
            <p class="card-footer-item">
                <span>
                    Or Sign in with Google: 
                    <span {{action "signIn" "google"}}>
                        {{fa-icon "google"}}
                    </span>
                </span>
            </p>
        </footer>
    </div>
</div>
{{outlet}}