<div class="container login-div">
    <div class="card">
        <div class="card-content">
            <p class="title">
                Welcome to the future of business!
            </p>
            <p class="subtitle">
                Login to continue
            </p>
            <form {{action "signInWithPassword" "password" email password on="submit"}}>
                <div class="field">
                    <p class="control has-icons-left has-icons-right">
                        {{input id="user-email" class="input" type="email" value=email placeholder="Email" focus-in="removeReadOnly" readonly=true}}
                        <span class="icon is-small is-left">
                            {{fa-icon "envelope"}}
                        </span>
                    </p>
                </div>
                <div class="field">
                    <p class="control has-icons-left">
                        {{input id="user-password" class="input" value=password type="password" placeholder="Password" focus-in="removeReadOnly" readonly=true}}
                        <span class="icon is-small is-left">
                            {{fa-icon "lock"}}
                        </span>
                    </p>
                </div>
                <div class="field is-grouped">
                    <p class="control">
                        <span>
                            <button type="submit" class="button is-primary">
                                Sign In
                            </button>
                        </span>
                    </p>
                    <p class="control">
                        {{#link-to "index" class="button is-danger"}} Cancel {{/link-to}}
                    </p>
                </div>
            </form>
        </div>
        {{!--
        <footer class="card-footer">
            <p class="card-footer-item">
                <span>
                    Or Sign in with Google:
                    <span {{action "signIn" "google"}}>
                        {{fa-icon "google"}}
                    </span>
                </span>
            </p>
        </footer> --}}
    </div>
</div>
{{outlet}}